<div class="col-10 offset-1">
    <h1>About This App</h1>

    <p>
        This "Bring Out The Best" Quote-Display App was built by Dr. Kalen Hammann based on an App named "Splurty" created by <a target="_blank" href="http://github.com/MarcoMorawec">Marco Morawec</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken Mazaika</a>, two web developers at <a target="_blank" href="http://thefirehoseproject.com">The Firehose Project</a> (a great place to learn to code!).
    </p>
    <br />
    <p>
        This was the first Web App Dr. Hammann created on his way to becoming a highly respected yet remarkably humble software engineer in demand worldwide.
    </p> 

    <div class="col-sm-4" style="padding-top: 30px">
      <%= image_tag 'kalen.jpg', class: 'img-fluid' %>
    </div>

    <div class="Col-12 col-sm7 ofset-sm-1">
        <h2 class="text-center">Dr. Kalen Hammann</h2>
        <br />
        <p>
            <a target="_blank" href="http://kalenhammann.getforge.io">Dr. Kalen Hammann</a> is passionate about writing elegant code that helps people to be more effective and gives users a great experience. He also writes books like <i>Date Your Mate: How to Save Your Marriage from "The Blahs" and Live Happily Ever After</i> to help couples bring out the best in each other.
        <p>
        <br />
        <p>
            In a previous life Dr. Hammann helped senior executives, managers, and frontline people around the world creae more productive working relationships at over 50 Fortune 500 corporations including Citrix, Intel, GE, and Alcatel-Lucent.
        </p>
    </div>


</div>
