<h2>
  <span>Idea No. <%= @quote.id %>:
  Here's one way to think about it...</span>
</h2>

<br />
<br />

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h2>

<br class="clear" />
<br />
<br />
<br />